<div class="footer_spmanu">
    <ul>
        <a href="/attendance_record/view/user/attendanceCalender.php"><li><p>出</p>出退勤記入</li></a>
        <a href="/attendance_record/view/user/userWorkReport.php"><li><p>報</p>作業報告</li></a>
        <a href="/attendance_record/view/user/dataDisplay.php"><li><p>検</p>出退勤検索</li></a>
        <a href="/attendance_record/view/user/workReportDisplay.php"><li><p>覧</p>報告一覧</li></a>
        <a href="/attendance_record/process/user/sessionUnset.php"><li><p>ロ</p>ログアウト</li></a>
    </ul>
</div>
<script src="/attendance_record/js/main.js"></script>

<!-- Google Analytics: UA-XXXXX-YをあなたのIDに変更 -->
<script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>